header
	background: $white
	+pos(fix, 0 0 null 0)
	z-index: 1000
	.header-wrap
		+flexbox
	.sitelogo
		height: 100px
		+flexbox
		align-items: center
		align-content: center
		padding-right: 40px
	.col-right
		flex: auto
		+flexbox
		flex-wrap: wrap
		align-items: flex-start
		align-content: flex-start
		padding-top: 10px
	.menu
		flex: auto
		margin-top: 10px
		ul.menu-link
			+flexbox
			flex-wrap: wrap
			> li
				+ li
					margin-left: 50px
				> a
					+fs(14rem)
					line-height: 20px
					color: $main
					padding: 10px 0
				&:hover, &.active
					> a
						color: $green
						font-weight: 700
	.logo2
		a
			display: block
	.header-tool
		width: 100%
		border-top: 1px solid $main
		+flexbox
		align-items: center
		align-content: center
		padding-top: 5px
	.tool-right
		flex: auto
		+flexbox
		justify-content: flex-end
		align-items: center
		align-content: center
	.online-booking
		.btn-book
			+fs(13rem)
			text-transform: uppercase
			color: #bdaeff
			&:hover
				color: $green
				font-weight: 600
	.social
		+flexbox
		align-items: center
		align-content: center
		a
			+ a
				margin-left: 5px
			.fa
				display: block
				width: 30px
				height: 30px
				color: $white
				line-height: 30px
				text-align: center
				+bor-rad(50px)
				&.fa-facebook
					background: $facebook
				&.fa-twitter
					background: $twitter
				&.fa-instagram
					background: linear-gradient(135deg, #dd4972 0%, #fdcf77 100%)
	.language
		margin-left: 15px
		a
			color: $main
			+fs(13rem)
			line-height: 1
			text-transform: uppercase
			+ a
				padding-left: 10px
				margin-left: 10px
				border-left: 1px solid darken($white,10%)
			&:hover, &.active
				color: $green
				font-weight: 600
					

	
