footer
	.container
		section.footer-top
			.row
				.col-12.col-lg-6.col-xl-7
					.footer-col
						.footer-logo
							img(src="img/flogo.png", alt="")
				.col-12.col-lg-3.col-xl-2
					.footer-col
						.footer-title Dự án
						nav.footer-link
							a(href="#!") Nhà phố
							a(href="#!") Biệt thự
							a(href="#!") Công cộng - Dịch vụ
				.col-12.col-lg-3.col-xl-3
					.footer-col
						.footer-title Liên hệ
						.footer-about
							ul
								li <i class="fa fa-home" aria-hidden="true"></i>162 Lê Đức Thọ, Phường 6, Quận Gò Vấp, TP HCM
								li <i class="fa fa-phone" aria-hidden="true"></i>
									a(href="tel:0946 988 889") 0946 988 889
								li <i class="fa fa-envelope" aria-hidden="true"></i>
									a(href="mailto:info@dfcompany.vn") info@dfcompany.vn
		section.footer-bottom
			.copyright © 2018 DF Company. all right reserved. designed by canhcam.
			.social
				a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
				a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
				a(href="#!") <i class="fa fa-google-plus" aria-hidden="true"></i>
				a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>