header
	.container
		.header-wrap
			.sitelogo
				a(href="index.html")
					img(src="img/logo.png", alt="")
			.col-right
				nav.menu
					ul.menu-link
						li.active
							a(href="#!") About Us
						li
							a(href="#!") Golf
						li
							a(href="#!") Facilities
						li
							a(href="#!") Tournaments
						li
							a(href="#!") Membership
						li
							a(href="#!") News
						li
							a(href="#!") Gallery
						li
							a(href="#!") Careers
				.logo2
					a(href="#!")
						img(src="img/logo2.png", alt="")
				.header-tool
					.online-booking
						a.btn-book(href="#!") Online Booking
					.tool-right
						.social
							a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-twitter" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
						.language
							a(href="#!") ENG
							a(href="#!") VN