header
	.container
		.header-wrap
			.sitelogo
				a(href="index.html")
					img(src="img/logo.png", alt="")
			.col-right
				nav.menu
					ul.menu-link
						li.active
							a(href="#!") Giới thiệu
						li
							a(href="#!") Dự án
						li
							a(href="#!") Tin tức
						li
							a(href="#!") Đối tác
						li
							a(href="#!") Thư viện
						li
							a(href="#!") Tuyển dụng
						li
							a(href="#!") Liên hệ
				.language
					.dropdown
						a.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') VN
						.dropdown-menu(aria-labelledby='dropdownMenuLink')
							a.dropdown-item(href='#') VN
							a.dropdown-item(href='#') EN
				.search
					.search-toggle <i class="fa fa-search" aria-hidden="true"></i>
					.search-wrap
						.searchbox
							input(type="text" placeholder="Tìm kiếm...")
							button.searchbutton <i class="fa fa-search" aria-hidden="true"></i>