section.page-banner
	.banner-img
		img(src="img/about/bn1.jpg", alt="")
section.project-page
	.container
		h1.home-title Dự án DF Company
			span thực hiện và mẫu thiết kế
		.project-slide
			.item
				a.project-img(href="img/project/img1.jpg" data-fancybox="project1")
					img(src="img/project/img1.jpg", alt="")
			.item
				a.project-img(href="img/project/img1.jpg" data-fancybox="project1")
					img(src="img/project/img1.jpg", alt="")
			.item
				a.project-img(href="img/project/img1.jpg" data-fancybox="project1")
					img(src="img/project/img1.jpg", alt="")
		.project-info
			.row
				.col-12.col-lg-4
					.info-content
						.project-name nhà phố khanh House 
						table.info-table
							tr
								th Chủ đầu tư:
								td Trần Minh Khanh
							tr
								th Công trình:
								td Nhà phố hiện đại
							tr
								th Địa chỉ:
								td 125 Thảo Điền, Quận 2, Tp Hồ Chí Minh
							tr
								th Diện tích:
								td 200m2
							tr
								th Nội dung thiết kế:
								td Nội thất
							tr
								th Hoàn thành:
								td 22/02/2017
				.col-12.col-lg-8
					.info-content
						.content
							p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
section.project-other
	.container
		h2.small-title Dự án khác
		.project-list
			.row
				.col-12.col-lg-4
					a.project-item(href="#!")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
				.col-12.col-lg-4
					a.project-item(href="#!")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
				.col-12.col-lg-4
					a.project-item(href="#!")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
section.about-contact
	.about-bg(style="background: url(img/about/bg1.jpg) center center no-repeat;background-size: cover")
	.container
		.contact-title.text-center Hãy để chúng tôi đồng hành cùng bạn kiến tạo không gian sống lý tưởng mỗi ngày.
		.btn-wrap.text-center
			a.btn.btn-primary(href="#!") Liên hệ ngay