section.page-banner
	.banner-img
		img(src="img/about/bn1.jpg", alt="")
section.service-page
	.container
		h1.home-title Dịch vụ của
			span DF Company
		.service-list
			.service-item
				figure
					a.service-img.col-12.col-lg-6.col-xl-7(href="#!")
						img(src="img/service/1.jpg", alt="")
					figcaption.col-12.col-lg-6.col-xl-5
						h2.service-name Thiết kế kiến trúc & nội thất
						.service-des Với DF thiết kế kiến trúc & nội thất đẹp là chưa đủ, mà còn phải tạo ra một không gian sống lý tưởng hài hòa từ trong ra ngoài cho chủ không gian. Chúng tôi hướng tới những sản phẩm nội thất cao cấp có tính thẩm mỹ và tiện dụng cao đáp ứng nhu cầu sử dụng một cách hiệu quả.
			.service-item
				figure
					a.service-img.col-12.col-lg-6.col-xl-7(href="#!")
						img(src="img/service/1.jpg", alt="")
					figcaption.col-12.col-lg-6.col-xl-5
						h2.service-name Thiết kế kiến trúc & nội thất
						.service-des Với DF thiết kế kiến trúc & nội thất đẹp là chưa đủ, mà còn phải tạo ra một không gian sống lý tưởng hài hòa từ trong ra ngoài cho chủ không gian. Chúng tôi hướng tới những sản phẩm nội thất cao cấp có tính thẩm mỹ và tiện dụng cao đáp ứng nhu cầu sử dụng một cách hiệu quả.
			.service-item
				figure
					a.service-img.col-12.col-lg-6.col-xl-7(href="#!")
						img(src="img/service/1.jpg", alt="")
					figcaption.col-12.col-lg-6.col-xl-5
						h2.service-name Thiết kế kiến trúc & nội thất
						.service-des Với DF thiết kế kiến trúc & nội thất đẹp là chưa đủ, mà còn phải tạo ra một không gian sống lý tưởng hài hòa từ trong ra ngoài cho chủ không gian. Chúng tôi hướng tới những sản phẩm nội thất cao cấp có tính thẩm mỹ và tiện dụng cao đáp ứng nhu cầu sử dụng một cách hiệu quả.
		.service-form
			.row
				.col-12.col-lg-6
					.content
						p Mong muốn của bạn là có 1 ngôi nhà (công trình) đẹp, thẩm mỹ cao cùng với chất lượng khẳng định đẳng cấp.
						.title tất cả những gì bạn cần
							span chúng tôi có
						p Với phong cách làm việc chuyên nghiệp từ khâu thiết kế đến thi công ngoài công trường, DF Company chuyên cung cấp các gói thiết kế đẹp, thẩm mỹ cao và thi công xây dựng công trình chất lượng đảm bảo đúng tiến độ, cam kết không phát sinh, với chi phí hợp lý nhất. Hãy cùng chúng tôi, kiến tạo tương lai.
					.form-wrap
						.module-title Nhận báo giá
						.form-row
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Họ tên")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Email")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Số điện thoại")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Tiêu đề")
							.form-group.col-12
								textarea(name="", cols="30", rows="6", placeholder="Nội dung")
							.frm-btn
								input(type="submit", value="Gửi")
				.col-12.col-lg-6
					.form-img
						img(src="img/service/2.jpg", alt="")
section.about-contact
	.about-bg(style="background: url(img/about/bg1.jpg) center center no-repeat;background-size: cover")
	.container
		.contact-title.text-center Hãy để chúng tôi đồng hành cùng bạn kiến tạo không gian sống lý tưởng mỗi ngày.
		.btn-wrap.text-center
			a.btn.btn-primary(href="#!") Liên hệ ngay