section.page-banner
	.banner-img
		img(src="img/about/bn1.jpg", alt="")
section.partner-page
	.container
		h1.home-title Đối tác
			span DF Company
		.partner-list
			.row
				article.col-12.col-sm-6.col-md-4.col-lg-3
					a.partner-logo(href="#!")
						img(src="img/partner/1.png", alt="")
				article.col-12.col-sm-6.col-md-4.col-lg-3
					a.partner-logo(href="#!")
						img(src="img/partner/1.png", alt="")
				article.col-12.col-sm-6.col-md-4.col-lg-3
					a.partner-logo(href="#!")
						img(src="img/partner/1.png", alt="")
				article.col-12.col-sm-6.col-md-4.col-lg-3
					a.partner-logo(href="#!")
						img(src="img/partner/1.png", alt="")
section.about-contact
	.about-bg(style="background: url(img/about/bg1.jpg) center center no-repeat;background-size: cover")
	.container
		.contact-title.text-center Hãy để chúng tôi đồng hành cùng bạn kiến tạo không gian sống lý tưởng mỗi ngày.
		.btn-wrap.text-center
			a.btn.btn-primary(href="#!") Liên hệ ngay