section.page-banner
	.banner-img
		img(src="img/about/bn1.jpg", alt="")
section.about-page
	.container
		.about-content
			.row
				.col-12.col-lg-6
					h1.home-title Giới thiệu
						span Về DF Company
					.content
						p DF Company đã thành lập năm 2016.
							br
							|Với phong cách thiết kế: 
							strong HIỆN ĐẠI – BẢN SẮC – SINH THÁI
							br
							|Luôn khao khát sáng tạo các giải pháp tối ưu, đem đến những giá trị tốt nhất cho chủ đầu tư, với chi phí hợp lý nhất.
						p Cùng với đội ngũ thi công xây dựng lành nghề, chuyên nghiệp, có thâm niên trong ngành xây dựng, tự hào đã bàn giao những công trình chất lượng với sự hài lòng của chủ đầu tư.
						p Đối với chúng tôi đó là niềm hạnh phúc nhất khi làm nghề.
							br
							|Với phương châm:
						h3.text-yellow.text-800.text-uppercase Đột phá ý tưởng, khẳng định chất lượng.
				.col-12.col-lg-6
					.about-img
						img(src="img/about/img1.jpg", alt="")
section.about-album
	.container
		ul.nav.nav-tabs.page-tab(role='tablist')
			li.nav-item
				a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Văn phòng thiết kế
			li.nav-item
				a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Xưởng nội thất
			li.nav-item
				a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Nhân sự
			li.nav-item
				a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Hoạt động
			li.nav-item
				a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Thi công
		#myTabContent.tab-content
			#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
				.gallery-album
					.row
						.col-6.col-md-4
							a.pic(href="img/about/pic1.jpg" data-fancybox="album1")
								img(src="img/about/pic1.jpg", alt="")
						.col-6.col-md-4
							a.pic(href="img/about/pic1.jpg" data-fancybox="album1")
								img(src="img/about/pic1.jpg", alt="")
						.col-6.col-md-4
							a.pic(href="img/about/pic1.jpg" data-fancybox="album1")
								img(src="img/about/pic1.jpg", alt="")
						.col-6.col-md-4
							a.pic(href="img/about/pic1.jpg" data-fancybox="album1")
								img(src="img/about/pic1.jpg", alt="")
						.col-6.col-md-4
							a.pic(href="img/about/pic1.jpg" data-fancybox="album1")
								img(src="img/about/pic1.jpg", alt="")
						.col-6.col-md-4
							a.pic(href="img/about/pic1.jpg" data-fancybox="album1")
								img(src="img/about/pic1.jpg", alt="")
			#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
			#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...
			#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
			#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...
section.about-contact
	.about-bg(style="background: url(img/about/bg1.jpg) center center no-repeat;background-size: cover")
	.container
		.contact-title.text-center Hãy để chúng tôi đồng hành cùng bạn kiến tạo không gian sống lý tưởng mỗi ngày.
		.btn-wrap.text-center
			a.btn.btn-primary(href="#!") Liên hệ ngay