section.home-about
	.container
		.about-content
			.row
				.col-12.col-lg-6
					h1.home-title Giới thiệu
						span Về DF Company
					.content
						p DF Company đã thành lập năm 2016.
							br
							|Với phong cách thiết kế: 
							strong HIỆN ĐẠI – BẢN SẮC – SINH THÁI
							br
							|Luôn khao khát sáng tạo các giải pháp tối ưu, đem đến những giá trị tốt nhất cho chủ đầu tư, với chi phí hợp lý nhất.
						p Cùng với đội ngũ thi công xây dựng lành nghề, chuyên nghiệp, có thâm niên trong ngành xây dựng, tự hào đã bàn giao những công trình chất lượng với sự hài lòng của chủ đầu tư.
						p Đối với chúng tôi đó là niềm hạnh phúc nhất khi làm nghề.
							br
							|Với phương châm:
						h3.text-yellow.text-800.text-uppercase Đột phá ý tưởng, khẳng định chất lượng.
				.col-12.col-lg-6
					.about-img
						img(src="img/about/img1.jpg", alt="")
section.home-project
	.container
		h1.home-title Dự án DF Company
			span thực hiện & mẫu thiết kế
		.project-list
			.row
				.col-12.col-lg-4
					a.project-item.big(href="#!")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
				.col-12.col-lg-8
					.row
						.col-12.col-lg-5
							a.project-item(href="#!")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
						.col-12.col-lg-7
							a.project-item(href="#!")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
						.col-12.col-lg-8
							a.project-item(href="#!")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
						.col-12.col-lg-4
							a.project-item(href="#!")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
				.col-12.col-lg-8
					.row
						.col-12.col-lg-5
							a.project-item(href="#!")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
						.col-12.col-lg-7
							a.project-item(href="#!")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
						.col-12.col-lg-8
							a.project-item(href="#!")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
						.col-12.col-lg-4
							a.project-item(href="#!")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
				.col-12.col-lg-4
					a.project-item.big(href="#!")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
				.col-12.col-lg-4
					a.project-item(href="#!")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
				.col-12.col-lg-4
					a.project-item(href="#!")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
				.col-12.col-lg-4
					a.project-item(href="#!")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
		.btn-wrap.text-right
			a.btn.btn-primary(href="#!") Xem thêm
section.home-intro
	.container
		.title-wrap
			h2.intro-title Đột phá ý tưởng
				span Khẳng định chất lượng
	.intro-list
		.row
			.col-12.col-lg-4
				.intro-link
					figure
						.icon
							img(src="img/icon/h1.png", alt="")
						figcaption
							.name Thư viện ảnh
							a.link(href="#!") Xem thêm
			.col-12.col-lg-4
				.intro-link
					figure
						.icon
							img(src="img/icon/h1.png", alt="")
						figcaption
							.name Thư viện ảnh
							a.link(href="#!") Xem thêm
			.col-12.col-lg-4
				.intro-link
					figure
						.icon
							img(src="img/icon/h1.png", alt="")
						figcaption
							.name Thư viện ảnh
							a.link(href="#!") Xem thêm