section.page-banner
	.banner-img
		img(src="img/about/bn1.jpg", alt="")
section.contact-page
	.container
		h1.home-title Liên hệ với
			span DF Company
		.row
			.col-12.col-lg-8
				.contact-form
					.form-wrap
						.form-row
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Họ và tên...")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Email...")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Tiêu đề...")
							.form-group.col-12.col-md-6
								input(type="text" placeholder="Số điện thoại...")
							.form-group.col-12
								textarea(name="", cols="", rows="3" placeholder="Nội dung...")
							.frm-btn
								input(type="submit", value="Gửi thông tin")
			.col-12.col-lg-4
				.contact-info
					.title Địa chỉ
					ul
						li <i class="fa fa-home" aria-hidden="true"></i>162 Lê Đức Thọ, Phường 6, Quận Gò Vấp, TP HCM
						li <i class="fa fa-phone" aria-hidden="true"></i>
							a(href="tel:0946 988 889") 0946 988 889
						li <i class="fa fa-envelope" aria-hidden="true"></i>
							a(href="mailto:info@dfcompany.vn") info@dfcompany.vn
			.col-12
				.contact-map
					iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62695.61204708993!2d106.63235441252002!3d10.851373447541711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752855c8cc9823%3A0x4708bb12ab0124ac!2zQ8O0bmcgVHkgVG5oaCBUaGnhur90IEvhur8gWMOieSBE4buxbmcgVGjGsMahbmcgTeG6oWkgROG7i2NoIFbhu6UgRGY!5e0!3m2!1svi!2s!4v1527352992523', width='100%', height='500', frameborder='0', style='border:0', allowfullscreen='')
					