section.page-banner
	.banner-img
		img(src="img/about/bn1.jpg", alt="")
section.news-page
	.container
		h1.home-title Năm 2018, xu hướng thiết kế nội thất nào lên ngôi và trở nên lỗi mốt?
		.news-detail
			.content
				.row
					.col-12.col-lg-6.col-xl-7
						p Việc thiết kế nội thất phần lớn dựa vào sở thích và cá tính riêng của từng người . Tuy nhiên không vì thế mà chúng ta xao lãng việc cập nhật những tin tức và xu hướng thiết kế mới nhất. Nắm bắt xu hướng mới sẽ khơi gợi lên cảm hứng và ý tưởng để bạn tân trang lại ngôi nhà của mình. Hãy cùng chúng tôi cập nhật và dự đoán ngay những xu hướng trang trí nội thất sẽ thịnh hành vào năm 2018 .
						p Các kiến trúc sư dự báo trong năm tới tinh thần “cá nhân hóa” thiết kế nội thất sẽ phát triển mạnh mẽ hơn bao giờ hết.
						p Trong những ngày cuối năm này hầu hết các gia chủ đều tất bật bắt tay vào sửa sang lại nhà cửa đón Tết từ thay đổi màu sơn tường, phong cách nội thất… với mong muốn trong năm mới gặp nhiều may mắn và khang trang hơn. Đối với phong cách thiết kế nội thất cũng dự kiến sẽ có nhiều thay đổi trong năm tới.
						p
							strong.text-yellow Gỗ tái chế lỗi mốt, đồ nội thất lượn sóng lên ngôi
						ul
							li Kiến trúc sư Athena Calderone của EyeSwoon cho rằng các xu hướng nội thất như gỗ khai hoang, đồ nội thất công nghiệp sẽ dần lỗi mốt trong năm 2018.
						p
							strong.text-white Xu hướng lên ngôi:
						ul
							li Sự tươi sáng và quyến rũ đang được ưa chuộng hơn. Theo đó, nội thất với đường cong và màu sắc bão hòa được dự đoán sẽ lên ngôi.
							li 2018 là xu hướng không gian ấm cúng, kết hợp màu sắc đơn giản .Nội thất đang có sự chuyển mình từ hình chữ nhật cứng cáp sang những đường nét mềm mại. Những màu sắc ấm áp cũng dần trở nên phổ biến như sắc hoa hồng, xanh lá cây… Xu thế này được dự đoán sẽ mang tính chủ đạo trong năm 2018.
							li Những món đồ nội thất đơn giản, tiết kiệm diện tích cho không gian sống, dễ vận chuyển luôn được ưu tiên hàng đầu, đặc biệt là với những ngôi nhà có diện tích nhỏ như chung cư, phòng trọ,…
						br
					.col-12.col-lg-6.col-xl-5
						.news-img
							img(src="img/news/img1.jpg", alt="")
						br
					.col-12.col-lg-6.col-xl-5
						.news-img
							img(src="img/news/img2.jpg", alt="")
						br
					.col-12.col-lg-6.col-xl-7
						p 
							strong.text-yellow Nội thất có tính nguyên bản lên ngôi, gạch công nghiệp lỗi mốt 
						p
							strong.text-white Xu hướng lỗi mốt:
						ul
							li Nhà thiết kế nội thất Emily Henderson khẳng định chẳng có mấy ai còn mặn mà với những thiết kế mang tính công nghiệp nữa. Nó khiến người ta cảm giác mọi thứ trở nên già nua, cứng nhắc hơn.
						p 
							strong.text-white Xu hướng lên ngôi:
						ul
							li Thay vào đó, những gì xuất phát từ tự nhiên và có tính nguyên bản sẽ lên ngôi trong năm 2018. Những món đồ cổ, độc, lạ.
							li Màu gỗ tự nhiên mang lại vẻ đẹp tươi sáng, không lo lỗi thời và luôn bền đẹp như ngày mới mua.
							li Không rườm rà, không cầu kì nhưng lại khá bắt mắt với những hoạ tiết hoa văn nổi bật cũng là xu hướng trang trí nội thất chắc chắn sẽ lên ngôi vào năm 2018 tới đây
						br
					.col-12.col-lg-6.col-xl-6
						p 
							strong.text-yellow Nội thất có tính nguyên bản lên ngôi, gạch công nghiệp lỗi mốt 
						p
							strong.text-white Xu hướng lỗi mốt:
						ul
							li Nhà thiết kế nội thất Emily Henderson khẳng định chẳng có mấy ai còn mặn mà với những thiết kế mang tính công nghiệp nữa. Nó khiến người ta cảm giác mọi thứ trở nên già nua, cứng nhắc hơn.
						p 
							strong.text-white Xu hướng lên ngôi:
						ul
							li Thay vào đó, những gì xuất phát từ tự nhiên và có tính nguyên bản sẽ lên ngôi trong năm 2018. Những món đồ cổ, độc, lạ.
							li Màu gỗ tự nhiên mang lại vẻ đẹp tươi sáng, không lo lỗi thời và luôn bền đẹp như ngày mới mua.
							li Không rườm rà, không cầu kì nhưng lại khá bắt mắt với những hoạ tiết hoa văn nổi bật cũng là xu hướng trang trí nội thất chắc chắn sẽ lên ngôi vào năm 2018 tới đây
						br
					.col-12.col-lg-6.col-xl-6
						.news-img
							img(src="img/news/img2.jpg", alt="")
						br
					.col-12.col-lg-6.col-xl-5
						.news-img
							img(src="img/news/img2.jpg", alt="")
						br
					.col-12.col-lg-6.col-xl-7
						p 
							strong.text-yellow Nội thất có tính nguyên bản lên ngôi, gạch công nghiệp lỗi mốt 
						p
							strong.text-white Xu hướng lỗi mốt:
						ul
							li Nhà thiết kế nội thất Emily Henderson khẳng định chẳng có mấy ai còn mặn mà với những thiết kế mang tính công nghiệp nữa. Nó khiến người ta cảm giác mọi thứ trở nên già nua, cứng nhắc hơn.
						p 
							strong.text-white Xu hướng lên ngôi:
						ul
							li Thay vào đó, những gì xuất phát từ tự nhiên và có tính nguyên bản sẽ lên ngôi trong năm 2018. Những món đồ cổ, độc, lạ.
							li Màu gỗ tự nhiên mang lại vẻ đẹp tươi sáng, không lo lỗi thời và luôn bền đẹp như ngày mới mua.
							li Không rườm rà, không cầu kì nhưng lại khá bắt mắt với những hoạ tiết hoa văn nổi bật cũng là xu hướng trang trí nội thất chắc chắn sẽ lên ngôi vào năm 2018 tới đây
						br
					.col-12.col-lg-6.col-xl-6
						p 
							strong.text-yellow Nội thất có tính nguyên bản lên ngôi, gạch công nghiệp lỗi mốt 
						p
							strong.text-white Xu hướng lỗi mốt:
						ul
							li Nhà thiết kế nội thất Emily Henderson khẳng định chẳng có mấy ai còn mặn mà với những thiết kế mang tính công nghiệp nữa. Nó khiến người ta cảm giác mọi thứ trở nên già nua, cứng nhắc hơn.
						p 
							strong.text-white Xu hướng lên ngôi:
						ul
							li Thay vào đó, những gì xuất phát từ tự nhiên và có tính nguyên bản sẽ lên ngôi trong năm 2018. Những món đồ cổ, độc, lạ.
							li Màu gỗ tự nhiên mang lại vẻ đẹp tươi sáng, không lo lỗi thời và luôn bền đẹp như ngày mới mua.
							li Không rườm rà, không cầu kì nhưng lại khá bắt mắt với những hoạ tiết hoa văn nổi bật cũng là xu hướng trang trí nội thất chắc chắn sẽ lên ngôi vào năm 2018 tới đây
						br
					.col-12.col-lg-6.col-xl-6
						.news-img
							img(src="img/news/img2.jpg", alt="")
						br
		.news-other
			h3.page-title Tin tức khác
			.news-list
				.row
					article.col-12.col-sm-6.col-md-4.col-lg-3
						.news-col
							figure
								a.news-img(href="#!")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time 18/04/2018
									h2.news-name
										a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
					article.col-12.col-sm-6.col-md-4.col-lg-3
						.news-col
							figure
								a.news-img(href="#!")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time 18/04/2018
									h2.news-name
										a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
					article.col-12.col-sm-6.col-md-4.col-lg-3
						.news-col
							figure
								a.news-img(href="#!")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time 18/04/2018
									h2.news-name
										a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
					article.col-12.col-sm-6.col-md-4.col-lg-3
						.news-col
							figure
								a.news-img(href="#!")
									img(src="img/news/1.jpg", alt="")
								figcaption
									time 18/04/2018
									h2.news-name
										a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
section.about-contact
	.about-bg(style="background: url(img/about/bg1.jpg) center center no-repeat;background-size: cover")
	.container
		.contact-title.text-center Hãy để chúng tôi đồng hành cùng bạn kiến tạo không gian sống lý tưởng mỗi ngày.
		.btn-wrap.text-center
			a.btn.btn-primary(href="#!") Liên hệ ngay