section.page-banner
	.banner-img
		img(src="img/about/bn1.jpg", alt="")
section.career-page
	.container
		h1.home-title Tuyển dụng
			span DF Company
		.career-table
			table
				thead
					tr
						th Vị trí ứng tuyển
						th Số lượng ứng tuyển
						th Địa điểm
						th Hạn nộp hồ sơ
				tbody
					tr
						td 
							.job-wrap
								.number 01
								a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							.job-wrap
								.number 02
								a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							.job-wrap
								.number 03
								a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							.job-wrap
								.number 04
								a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							.job-wrap
								.number 05
								a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							.job-wrap
								.number 06
								a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							.job-wrap
								.number 07
								a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							.job-wrap
								.number 08
								a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							.job-wrap
								.number 09
								a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
					tr
						td 
							.job-wrap
								.number 10
								a.job(href="#!") Nhân viên thiết kế 3D nội thất
						td 01
						td TP.Hồ Chí Minh
						td 21.01.2018
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4
section.about-contact
	.about-bg(style="background: url(img/about/bg1.jpg) center center no-repeat;background-size: cover")
	.container
		.contact-title.text-center Hãy để chúng tôi đồng hành cùng bạn kiến tạo không gian sống lý tưởng mỗi ngày.
		.btn-wrap.text-center
			a.btn.btn-primary(href="#!") Liên hệ ngay