section.page-banner
	.banner-img
		img(src="img/about/bn1.jpg", alt="")
section.gallery-page
	.container
		h1.home-title Thư viện
			span thực hiện và mẫu thiết kế
		.project-list.gallery-album
			.row
				.col-12.col-lg-4
					a.project-item.big(href="img/project/1.jpg" data-fancybox="album1")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
				.col-12.col-lg-8
					.row
						.col-12.col-lg-5
							a.project-item(href="img/project/1.jpg" data-fancybox="album2")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
						.col-12.col-lg-7
							a.project-item(href="#!" data-fancybox="album3")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
						.col-12.col-lg-8
							a.project-item(href="#!" data-fancybox="album3")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
						.col-12.col-lg-4
							a.project-item(href="#!" data-fancybox="album4")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
				.col-12.col-lg-8
					.row
						.col-12.col-lg-5
							a.project-item(href="#!" data-fancybox="album5")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
						.col-12.col-lg-7
							a.project-item(href="#!" data-fancybox="album6")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
						.col-12.col-lg-8
							a.project-item(href="#!" data-fancybox="album7")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
						.col-12.col-lg-4
							a.project-item(href="#!" data-fancybox="album8")
								figure
									.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
									figcaption
										h3.project-name Nhà phố Khanh House
				.col-12.col-lg-4
					a.project-item.big(href="#!" data-fancybox="album9")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
				.col-12.col-lg-4
					a.project-item(href="#!" data-fancybox="album10")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
				.col-12.col-lg-4
					a.project-item(href="#!" data-fancybox="album11")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
				.col-12.col-lg-4
					a.project-item(href="#!" data-fancybox="album12")
						figure
							.project-img(style="background: url(img/project/1.jpg) center center no-repeat;background-size: cover")
							figcaption
								h3.project-name Nhà phố Khanh House
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4
section.about-contact
	.about-bg(style="background: url(img/about/bg1.jpg) center center no-repeat;background-size: cover")
	.container
		.contact-title.text-center Hãy để chúng tôi đồng hành cùng bạn kiến tạo không gian sống lý tưởng mỗi ngày.
		.btn-wrap.text-center
			a.btn.btn-primary(href="#!") Liên hệ ngay