section.page-banner
	.banner-img
		img(src="img/about/bn1.jpg", alt="")
section.news-page
	.container
		h1.home-title Tin tức
			span trong ngành
		.news-list
			.row.justify-content-center
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 18/04/2018
								h2.news-name
									a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 18/04/2018
								h2.news-name
									a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 18/04/2018
								h2.news-name
									a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 18/04/2018
								h2.news-name
									a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 18/04/2018
								h2.news-name
									a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 18/04/2018
								h2.news-name
									a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 18/04/2018
								h2.news-name
									a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
				article.col-12.col-sm-6.col-md-4.col-lg-3
					.news-col
						figure
							a.news-img(href="#!")
								img(src="img/news/1.jpg", alt="")
							figcaption
								time 18/04/2018
								h2.news-name
									a(href="#!") Cách thiết kế nội thất phòng khách theo hướng hiện đại
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4
section.about-contact
	.about-bg(style="background: url(img/about/bg1.jpg) center center no-repeat;background-size: cover")
	.container
		.contact-title.text-center Hãy để chúng tôi đồng hành cùng bạn kiến tạo không gian sống lý tưởng mỗi ngày.
		.btn-wrap.text-center
			a.btn.btn-primary(href="#!") Liên hệ ngay